@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-size: 16px;
    line-height: 1.6;
  }

  #root {
    @apply flex min-h-screen flex-col bg-secondary;
  }

  #root header,
  #root footer {
    @apply flex-shrink-0 flex-grow-0;
  }

  #root > main {
    @apply flex-grow;
  }

  @media (min-width: theme(screens.md)) {
    html,
    body {
      font-size: 18px;
    }
  }
}
