@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "GenJyuuGothicP", sans-serif;
  }
  /* In Chrome, Safari, Opera, and other WebKit-based browsers */
  body::-webkit-scrollbar {
    display: none;
  }

  /* In IE (Internet Explorer) and Edge */
  body {
    -ms-overflow-style: none;
  }
  /* In Firefox */
  html {
    scrollbar-width: none;
  }
  html {
    cursor: url("@/assets/cursor/cursor.png"), auto;
  }
}

@layer components {
  .menu-open label {
    @apply bg-btn-burger-open hover:bg-btn-burger-open-hover active:bg-btn-burger-open-pressed;
  }
  .menu-close label {
    @apply bg-btn-burger-close hover:bg-btn-burger-close-hover active:bg-btn-burger-close-pressed;
  }
}
